* + *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

header {
  padding: 10px 0;
  overflow: hidden;
  background-color: #EEEFF1;
}

.logo {
  width: 96px;
  height: 40px;
  float: left;
  margin-left: 100px;
}

nav {
  margin-right: 100px;
  float: right;
  margin-top: 10px;
}

.nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav__item {
  float: left;
  list-style: none;
  text-transform: uppercase;
}

.nav__item:not(:first-child) {
  margin-left: 42px;
}

.nav__item a {
  text-decoration: none;
  color: #34547A;
}

.nav__item a:hover {
  text-decoration: underline;
}

.design-section {
  background-color: #EEEFF1;
  text-align: center;
  overflow: hidden;
  padding: 200px 0;
}

.design-section__logo {
  width: 357px;
  height: 233px;
  margin-top: 60px;
  float: left;
}

.design-section__info {
  float: right;
  text-align: left;
}

.design-section__title {
  margin-bottom: 60px;
  font-size: 48px;
  line-height: 78px;
  font-weight: bold;
}

.design-section__description {
  max-width: 40%;
  line-height: 26px;
  color: #727272;
  margin-bottom: 60px;
}

.btn {
  min-width: 225px;
  padding: 25px 41px;
  color: #fff;
  background-color: #34547A;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.about-me {
  padding: 35px 0 100px 0;
  text-align: center;
}

.about-me__title {
  font-size: 32px;
  line-height: 37px;
  font-weight: bold;
  margin-bottom: 50px;
}

.about-me__description {
  line-height: 26px;
  max-width: 25%;
  margin: 0 auto;
}

.projects-section {
  position: relative;
  padding: 100px 0;
  background-color: #34547A;
}

.projects-list {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.projects-item {
  color: #fff;
  float: left;
}

.projects-item:not(:last-child) {
  margin-right: 10px;
}

.projects-item__info {
  float: right;
}

.projects-item__image {
  width: 47px;
  height: 50px;
  margin-right: 20px;
}

.projects-item__title {
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 10px;
}

.projects-item__description {}

.skills-section {
  padding: 100px 0;
  text-align: center;
}
.skills-item {}

.skills-item__image {
  width: 555px;
  height: 450px;
  float: right;
  margin-right: 300px;
}
.skills-item__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  padding-top: 100px;
  padding-left: 50px;
  color: #000000;
}
.skills-item__info {
  margin-top: 50px;
  background-image: url();
}

.skills-item__description {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}
#progress-container{
  background:#C4C4C4;;
  width: 445px;
  height: 4px;
  overflow: hidden;
  margin-left: 400px;
}
#progress-container span {
  display: block;
  background:  #34547A;;
  height: 4px;
  width: 78%;
}
.work-section {
  margin-top: 100px;
  padding: 100px 0;
  background: #EEEFF1;
  text-align: center;
}
.work-title {
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 50px;
}
.work-description {
  line-height: 26px;
  color: #727272;
  width: 540px;
  margin: 0 auto;
}
.work-img {
  position: relative;
}
.work-image {
  width: 1110px;
  height: 600px;
  margin-top: 60px;
}
.work-img:hover.work-video {
}
.work-video {
  position: absolute;
  width: 100px;
  height: 100px;
  
}
.gallery {
  margin-top: 28px;
}

.gallery-wrapper {}

.gallery-item {
  width: 25%;
  display: inline-block;
}
.gallery-item__notes {
  max-width: 100%;
  
}
.gallery-microsoft {
  margin-top: 72 px;
  margin-bottom: 100px;
  text-align: center;
}
.gallery-microsoft__m:not(:last-child) {
  margin-right: 30px;
}
.web-section {
  text-align: center;
  background: #EEEFF1;
  padding: 35px 0 100px 0;
}
.web-section__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 50px;
}
.web-section__description {
  line-height: 26px;
  margin: 0 auto;
  max-width: 25%;
  color: #727272;
}
.web-section__form {
  margin-top: 65px;
}
.web-section__data {
  margin-bottom: 20px;
  display: inline-block;
}
#fname {
  width: 255px;
  height: 50px;
  margin-right: 30px;
  padding: 0px;
  font-size: 14px;
  line-height: 23px;
  color: #5F5D5D;
} 
#email {
  width: 255px;
  height: 50px;
  font-size: 14px;
  line-height: 23px;
  color: #5F5D5D;
}
.web-section__message {}
#message {
  width: 540px;
  height: 175px;
  font-size: 14px;
  line-height: 23px;
  color: #5F5D5D;
  padding-top: 0px;
}
.btn2 {
  width: 190px;
  height: 55px;
  background: #34547A;
  margin-top: 50px;
  font-size: 14px;
  line-height: 23px;
  color: #FFFFFF;
}
footer {
  background: #34547A;
  padding: 50px 0;
}
.footer__title {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
  margin-left: 406px;
  margin-bottom: 20px;
}
.footer__description {
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;
  margin-left: 406px;

}
.footer__image {
  float: right;
  margin-right: 389px;
}
.footer__vk:not(:last-child) {
  margin-right: 22px;
}
