* + *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

header {
  padding: 10px 0;
  overflow: hidden;
  background-color: #EEEFF1;
}

.logo {
  width: 96px;
  height: 40px;
  float: left;
  margin-left: 100px;
}

nav {
  margin-right: 100px;
  float: right;
  margin-top: 10px;
}

.nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav__item {
  float: left;
  list-style: none;
  text-transform: uppercase;
}

.nav__item:not(:first-child) {
  margin-left: 42px;
}

.nav__item a {
  text-decoration: none;
  color: #34547A;
}

.nav__item a:hover {
  text-decoration: underline;
}

.design-section {
  background-color: #EEEFF1;
  text-align: center;
  overflow: hidden;
  padding: 200px 0;
}

.design-section__logo {
  width: 357px;
  height: 233px;
  margin-top: 60px;
  float: left;
}

.design-section__info {
  float: right;
  text-align: left;
}

.design-section__title {
  margin-bottom: 60px;
  font-size: 48px;
  line-height: 78px;
  font-weight: bold;
}

.design-section__description {
  max-width: 40%;
  line-height: 26px;
  color: #727272;
  margin-bottom: 60px;
}

.btn {
  min-width: 225px;
  padding: 25px 41px;
  color: #fff;
  background-color: #34547A;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.about-me {
  padding: 35px 0 100px 0;
  text-align: center;
}

.about-me__title {
  font-size: 32px;
  line-height: 37px;
  font-weight: bold;
  margin-bottom: 50px;
}

.about-me__description {
  line-height: 26px;
  max-width: 25%;
  margin: 0 auto;
}

.projects-section {
  position: relative;
  padding: 100px 0;
  background-color: #34547A;
}

.projects-list {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.projects-item {
  color: #fff;
  float: left;
}

.projects-item:not(:last-child) {
  margin-right: 10px;
}

.projects-item__info {
  float: right;
}

.projects-item__image {
  width: 47px;
  height: 50px;
  margin-right: 20px;
}

.projects-item__title {
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 10px;
}

.projects-item__description {}
